{
    # 关闭自动 TLS，启用 HTTP
    auto_https off
}

:80 {
    # 所有 /tasks、/hls、/thumbnails 请求都 Proxy 到后端
    @streamlink-api {
        path /task* /hls* /thumbnails* /conversion_status*
    }
    handle @streamlink-api {
        reverse_proxy 172.18.0.42:8800
    }
    # 其余请求（也就是前端静态资源）都 Proxy 到前端
    handle {
        reverse_proxy frontend:80
    }
}
